<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <h1>
            Eventbrote
        </h1>
    </header>
    <main role="main">
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Made with &lt;3 by <a href="">Lilian Maurin</a>.</p>
    </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
