<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Eventbrote</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>>
        </nav>
        <main role="main">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer class="footer mt-5 py-3">
            <div class="container">
                <img src="{{ asset('build/images/avatar.png') }}" alt="logo avatar" width="50" class="mb-2">
                <p class="text-muted">&copy; Made with &lt;3 by <a href="">Lilian Maurin</a>.</p>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
