<footer class="footer mt-5 py-3">
    <div class="container">
        <img src="{{ asset('build/images/avatar.png') }}" alt="logo avatar" width="50" class="mb-2">
        <p class="text-muted mt-2">&copy; Made with &lt;3 by <a href="https://unevireesudamericaine.wordpress.com/" target="_blank">Lilian Maurin</a>.</p>
    </div>
</footer>