{% extends 'layouts/base.html.twig' %}

{% block title 'Editing ' ~ event.name %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 h2 font-weight-light">Editing {{ event.name }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Update Event">
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
